<mat-vertical-stepper #verticalSteper [linear]="false" #stepperV>
    <mat-step>
        <ng-template matStepLabel>Nouvel Espace de travail</ng-template>
        <p><br>
          Créez le
        </p>
      <mat-vertical-stepper [linear]="true" #stepperH>
        <mat-step [stepControl]="nomFormGroup">
          <form [formGroup]="nomFormGroup">
            <ng-template matStepLabel>Le nom</ng-template>
            <mat-form-field class="formFieldWidth90pc center  width_300">
              <input matInput placeholder="Nom" formControlName="nom" required>
            </mat-form-field>
            <div class="left">
                <button mat-button matStepperNext color="primary">Next + Prochain</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="descFormGroup">
          <form [formGroup]="descFormGroup">
            <ng-template matStepLabel>La description</ng-template>
            <mat-form-field class="formFieldWidth90pc center  width_300">
                <textarea 
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5" 
                placeholder="Description" 
                formControlName="description" required></textarea>
            </mat-form-field>
            <div class="left">
              <button mat-button matStepperPrevious color="accent">Back - Retour</button>
              <button mat-button matStepperNext (click)="stepperV.next()" color="primary">Next + Prochain</button>
            </div>
            </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-step>
    <mat-step [stepControl]="authorisedUsersFormGroup">
        <form [formGroup]="authorisedUsersFormGroup">
          <ng-template matStepLabel>Les utilisateurs</ng-template>
          <mat-chip-list  multiple id="chipList" [selectable]="true" >
              <mat-chip *ngFor="let chip of authorisedUsers" [selected]="true" >
                {{chip}}
              </mat-chip>
          </mat-chip-list>
          <mat-form-field class="formFieldWidth90pc center width_300">
              <input class="width_300" type="text" placeholder="Choisissez un nom / Pick one name"  matInput [matAutocomplete]="auto" formControlName="authorisedUsers" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </form>
        <button class="left"  mat-raised-button color="primary" (click)="addCollab(authorisedUsersFormGroup)">Ajouter un collaborateur</button>
    </mat-step>
    <hr>
    <mat-step>
      <ng-template matStepLabel>Validez l'espace de travail</ng-template>
      <div class="left">
          <button mat-button matStepperPrevious color="accent">Back - Retour</button>
          <button mat-button (click)="verticalSteper.reset()" color="warn">Reset * Effacer</button>
          <button mat-button (click)="onFormSubmitStep(nomFormGroup,descFormGroup)" color="primary">Valider l'espace de travail</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  
  <button 
    mat-fab (click)="multiplePost()" 
    class="custom-button app-fab--absolute md-fab-bottom-right2" 
    color="warn" >
    <span class="mdc-fab__icon material-icons "><mat-icon>add</mat-icon></span>
  </button>