<div class="container">
  <h2 class="center">À Propos de ce site web</h2>
  <hr class="big" width="90%">
    <h3 class="center">Les développeurs</h3>
    <hr class="small" width="75%">
    <h4 class="center">
      Cette application existe grâce à la participation de :
    </h4>
    <div class="centerDiv">
      <ul>
        <li>Philippe Malric</li>
        <li>Benoît Malric</li>
      </ul>
    </div>
    <h3 class="center">Les remerciements</h3>
    <hr class="small" width="70%">
    <h4 class="center">
        Nos remerciements vont à :
    </h4>
    
    <div class="centerDiv">
      <ul>
        <li>L'ACCQ</li>
        <li>
          <ul>
              <li>Alain Bergeron</li>
              <li>Yves Legault</li>
              <li>J*ean Ouellet</li>
          </ul>
        </li>
      </ul>
    </div>
    
  <h3 class="center">L'application a été réalisée avec Angular</h3>
  <hr class="small" width="80%">
  <a class="center" href="https://angular-university.io/home">
    <img class="center" src="/assets/images/Angular.png"alt="">
  </a>
  <h3 class="center">L'objectif</h3>
  <hr class="small" width="70%">
  <h5 class="center">Son objectif est de permettre les débats sur les enjeux des Québecois</h5>
  <p class="center">Pour toute question ou problème, écrivez à malric.philippe@gmail.com</p>
  <h3 class="center">Les prochains développements</h3>
  <hr class="small" width="80%">
  <div class="centerDiv">
    <ol>
      <li>Créer un filtre pour les comissions basés sur les catégories des enjeux</li>
      <li>Ajouter les catégories des commissions</li>
      <li>Choisir un avatar sur la page d'accueil ou en créer un</li>
      <li>Lister les opinions des personnes</li>
      <li>Restreindre les gens à un « like/Don't like » par item</li>
      <li>Avoir accès à un espace de travail propre</li>
      <li>Pouvoir sauvegarder l'espace de travail et la téléverser</li>
      <li>Ajouter un bouton aide</li>
      <li>Ajouter des toolTips</li>
      <li>Arranger le titre des cartes</li>
      <li>Utiliser un flexLayout</li>
      <li>Ajouter un expansion panel sur les cartes</li>
    </ol>
  </div>
</div>