
      <div class="container" fxLayout="row wrap"  fxLayout.xs="column"  fxLayoutGap="0.5%" fxLayoutAlign="center">
          <ng-container *ngFor="let e of cards; index as i;">  
            <mat-card fxFlex.xs="100" fxFlex.sm="40" fxFlex.md="30" fxFlex.gt-md="20"   >
                <mat-slide-toggle
                class="slider"
                color="primary"
                [checked]="e.checked"
                [disabled]="disabled"
                (change)="change(e)" >
              Slide me!
            </mat-slide-toggle>
              <mat-card-title>
                  Test title
              </mat-card-title>
              <mat-card-subtitle >
                test subtitle
              </mat-card-subtitle>
              <mat-card-actions >
                test actions
              </mat-card-actions>
              <mat-card-content *ngIf="e.checked">
                  <p>
                    test content test content test content test content test content test content test content test content test content 
                    test content test content test content test content test content test content test content test content test content 
                  </p>
              </mat-card-content>
              <mat-card-footer>
                test footer
              </mat-card-footer>
            </mat-card>
          </ng-container>
      </div>