<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="titreFormGroup">
    <form [formGroup]="titreFormGroup">
      <p>Écrivez une opinion</p>
      <ng-template matStepLabel>Opinion</ng-template>
      <mat-form-field class="formFieldWidth90pc left width_300">
        <input matInput placeholder="Titre" formControlName="title" required>
      </mat-form-field>
      <div class="left">
        <button mat-button matStepperNext>Next + Prochain</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="descriptionFormGroup">
    <form [formGroup]="descriptionFormGroup">
      <ng-template matStepLabel>Description</ng-template>
      <mat-form-field class="formFieldWidth90pc left width_300">
        <input matInput placeholder="Description" formControlName="description" required>
      </mat-form-field>
      <div class="left">
        <button mat-button color="accent" matStepperPrevious>Back - Retour</button>
        <button mat-button color="primary" matStepperNext>Next + Prochain</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="authorFormGroup">
    <form [formGroup]="authorFormGroup" class="auto-complete-form">
      <ng-template matStepLabel>Qui est l'auteur de l'opinion? / Who think this way?</ng-template>
        <mat-form-field class="formFieldWidth90pc left width_300">
          <input type="text" placeholder="Choisissez un nom / Pick one name" formControlName="author" aria-label="Number" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <div class="left">
        <button mat-button color="accent" matStepperPrevious>Back - Retour</button>
        <button mat-button color="primary" matStepperNext>Next + Prochain</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sourceFormGroup">
      <form [formGroup]="sourceFormGroup" class="auto-complete-form">
        <ng-template matStepLabel>Inscrivez votre source</ng-template>
          <mat-form-field class="formFieldWidth90pc left ">
            <input type="text" placeholder="(URL valide)" formControlName="source" aria-label="Number" matInput [matAutocomplete]="auto">
            
          </mat-form-field>
        <div class="left">
          <button mat-button color="accent" matStepperPrevious>Back - Retour</button>
          <button mat-button color="primary" matStepperNext>Next + Prochain</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done = Fin</ng-template>
    <div class="left">
      <button mat-button color="accent" matStepperPrevious>Back - Retour</button>
      <button mat-button color="warn" (click)="stepper.reset()">Reset l'opinion</button>
      <button mat-button color="primary" (click)="onFormSubmitStep(titreFormGroup,descriptionFormGroup,authorFormGroup,sourceFormGroup)">Envoyez l'opinion / Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>