<mat-nav-list>
  <div *ngIf="auth.isLoggedIn()">
    <mat-radio-group  class="example-radio-group" (change)="radioChange($event)">
        <mat-radio-button class="example-radio-button" *ngFor="let espace of espacesName" [value]="espace">
          {{espace}}
        </mat-radio-button>
    </mat-radio-group>
    <div class="example-selected-value">Votre espace de travail est: {{dataService.edT_nom}}</div>
    <button  mat-fab (click)="clickB()"  color="accent">
     
    </button>
    <button  mat-fab   color="warn">
        <a [href]="downloadJsonHref" download="download.json"><mat-icon>?</mat-icon></a> 
    </button>
    <form #yourForm="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" [(ngModel)]="Name" name="Name"/>
        <input type="file" #fileupload  name="myFile" (change)="fileChange(fileupload)"/>
        <button type="submit">Submit</button>
    </form>
  </div>
</mat-nav-list>