
<mat-menu #subMenu1="matMenu">
    
  <button mat-menu-item routerLink="/test" (click)="snav.close()">Test</button>
  <button mat-menu-item routerLink="/personne-create" (click)="snav.close()">Création de personnes</button>
  <button mat-menu-item routerLink="/enjeu-create" (click)="snav.close()">Création d'enjeux</button>
  <button mat-menu-item routerLink="/opinion-create" (click)="snav.close()">Création d'opinions</button>
  <hr>
  <button mat-menu-item routerLink="/enjeuxTab" (click)="snav.close()">Tableau d'enjeux</button>
  <hr>
  <button mat-menu-item [matMenuTriggerFor]="subMenu2">Liens direct<br>pour la création</button>
</mat-menu>

<mat-menu #subMenu2="matMenu">
   
    <button mat-menu-item routerLink="/espace-de-travail" (click)="snav.close()">Espaces de travail</button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/personnes" (click)="snav.close()">Liste de personnes</button>
  <button mat-menu-item routerLink="/enjeux" (click)="snav.close()">Liste d'enjeux</button>
  <button mat-menu-item routerLink="/opinions" (click)="snav.close()">Liste d'opinion</button>
  <button mat-menu-item [matMenuTriggerFor]="subMenu1">Liens direct<br>pour la création</button>
</mat-menu>


<button  mat-fab class="md-fab-bottom-left2 custom-button app-fab--absolute" 
          color="primary" aria-label="sideBar" [matMenuTriggerFor]="menu">
    <span class="mdc-fab__icon material-icons ">favorite</span>
 </button>

<mat-toolbar color="primary">
  <button class="marginH10" mat-mini-fab (click)="snav.toggle()" color="warn">
      <mat-icon>menu</mat-icon>
  </button>
  <div class="center">
    <span class="fill-remaining-space">
      <button  mat-mini-fab [routerLink]="['/personnes']" routerLinkActive="router-link-active" color="accent" [disabled]="!auth.isLoggedIn()" (click)="snav.close()">
        <mat-icon>recent_actors</mat-icon>
      </button>
      <button class="marginH10" routerLink="/home" mat-raised-button color="primary" (click)="snav.close()">Enjeux Qc</button>
      <button mat-mini-fab [routerLink]="['/enjeux']" routerLinkActive="router-link-active" color="accent" (click)="snav.close()">
        <mat-icon>art_track</mat-icon>
      </button>
    </span>
  </div>
  <button class="marginH10" mat-raised-button color="accent" [routerLink]="['/about']" (click)="snav.close()">À propos</button>
</mat-toolbar>

<!-- 
    <mat-drawer #drawer class="example-sidenav" mode="side">
    <div>
      
    </div>
  </mat-drawer>

-->

<mat-sidenav-container class="all-wrap" >

  <mat-sidenav #snav [mode]="mode" [opened]="opened" role="navigation">
      <mat-nav-list>
        <button mat-menu-item *ngIf="!auth.isLoggedIn()"><a routerLink="/home">EnnjeuxQc</a></button>
        <hr>
        <button mat-menu-item *ngIf="!auth.isLoggedIn()" (click)="snav.toggle()" routerLink="/login">Sign in / Entrez</button>
        <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="snav.toggle()"routerLink="/profile">Info de {{ auth.getUserDetails()?.name }}</button>
        <hr *ngIf="auth.isLoggedIn()">
        <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="snav.toggle();auth.logout()" >Logout / Quitter</button>
        <hr>
        <button mat-menu-item routerLink="/home" (click)="snav.toggle()">Accueil</button>
        <hr>
        <button mat-menu-item routerLink="/espace-de-travail/" (click)="snav.toggle()">Espaces de travail</button>
        <hr>
        <button mat-menu-item routerLink="/enjeux/" (click)="snav.toggle()">La démocratie</button>
        <button mat-menu-item routerLink="/enjeux/" (click)="snav.toggle()">Commission 2</button>
        <button mat-menu-item routerLink="/enjeux/" (click)="snav.toggle()">Commission 3</button>
        <button mat-menu-item routerLink="/enjeux/" (click)="snav.toggle()">Commission 4</button>
        <button mat-menu-item routerLink="/enjeux/" (click)="snav.toggle()">Commission 5</button>
        <button mat-menu-item routerLink="/enjeux/" (click)="snav.toggle()">Commission 6</button>
        <hr>
        <button mat-menu-item routerLink="/AntonioCards" (click)="snav.toggle()">AntonioCards</button>
        
      </mat-nav-list>
    </mat-sidenav>
  <mat-sidenav-content class="page-wrap">
    <hr>
    
    <main class="content">
        <router-outlet></router-outlet>
    </main>
  
    <footer >
        <mat-toolbar color="accent">
            <button *ngIf="auth.isLoggedIn()" class="left" mat-raised-button (click)="openBottomSheet()">Choix de l'espace de travail</button>
            <p class="center" *ngIf="devMode"> Dev Mode </p> 
        </mat-toolbar>
    </footer>
    
  </mat-sidenav-content>
  
</mat-sidenav-container>




