.minheigth100{

    min-height: 100%;
}

.md-fab-bottom-left2 {
    top: auto !important;
    right: auto !important;
    bottom: 10px !important;
    left: 20px !important;
    position: fixed !important;
    z-index: 2;
}

img{
    border-radius: 20%;
    margin-left: 10px;

}

hr{

     margin-top: 0rem; 
     margin-bottom: 0rem; 
}