<div>
    <div id="dropdownCategorie" class=center>
   
        <mat-form-field>
            <mat-select (selectionChange)="changeEnjeux()" placeholder="Catégorie" [formControl]="cat" multiple>
                <mat-select-trigger>
                Les catégories
                </mat-select-trigger>
                <mat-option *ngFor="let c of catList" [value]="c">{{c}}</mat-option>
            </mat-select>
        </mat-form-field>  

    </div>
    <div class="container" fxLayout="row wrap"  fxLayout.xs="column"  fxLayoutGap="0.5%" fxLayoutAlign="center">
        <ng-container *ngFor="let element of enjeux; index as i;">  
            <mat-card fxFlex.xs="100" fxFlex.sm="40" fxFlex.md="30" fxFlex.gt-md="20"   >
                <mat-slide-toggle
                class="slider"
                color="primary"
                [checked]="element.checked"
                [disabled]="disabled"
                (change)="change(element)" >
                Slide me!
                </mat-slide-toggle>
                <mat-card-title>
                    {{element.titre}}
                </mat-card-title>
                <mat-card-content *ngIf="element.checked" >
                    <p>{{element.description}}</p>
                </mat-card-content>
                <mat-card-subtitle style="min-height:75px">
                    <app-badge  badgesString={{element.badges}}></app-badge>
                </mat-card-subtitle>
                <mat-card-actions class="center">
                    <button [ngClass]="{marginH10: true}" mat-mini-fab color="accent" (click)="addDontLike(element)">
                        <mat-icon #like [matBadge]="element.dontLike" [matBadgeColor]="element.dontLikeColor" matBadgePosition="above after" aria-label="thumb_down">thumb_down</mat-icon>
                    </button>
                    <button  mat-mini-fab [routerLink]="['/enjeu-details/', element._id]" color="primary">
                        <mat-icon aria-label="details">details</mat-icon>
                    </button>
                    <button  [ngClass]="{marginH10: true}" mat-mini-fab color="accent" (click)="addLike(element)">
                        <mat-icon #dontLike [matBadge]="element.like" [matBadgeColor]="element.likeColor" matBadgePosition="below before" aria-label="thumb_up" >thumb_up</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</div>

<button mat-fab class="custom-button app-fab--absolute md-fab-bottom-right2" 
        color="primary" [routerLink]="['/enjeu-create']">
    <span class="mdc-fab__icon material-icons "><mat-icon>add</mat-icon></span>
</button>