<form [formGroup]="personneForm" (ngSubmit)="onFormSubmit(personneForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Prénom" formControlName="prenom"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personneForm.get('prenom').valid && personneForm.get('prenom').touched">Please enter Personne Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nom" formControlName="nom"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personneForm.get('nom').valid && personneForm.get('nom').touched">Please enter ISBN</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Slogan" formControlName="slogan"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personneForm.get('slogan').valid && personneForm.get('slogan').touched">Please enter Personne Author</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Photo" formControlName="photo"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!personneForm.get('photo').valid && personneForm.get('photo').touched">Please enter Personne Description</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!personneForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
