/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#logoHome{
    margin-bottom: 30px;
    float: right;
    width: auto;
}

.md-fab-bottom-right2 {
    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
    z-index: 2;
}

.md-fab-bottom-right3 {
    top: auto !important;
    right: 20px !important;
    bottom: 60px !important;
    left: auto !important;
    position: fixed !important;
    z-index: 1;
}

.center{
      text-align: center; 
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: fit-content;
}

.left{
    text-align: left; 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

.action{
    text-align: center;
    min-height: 80px;
}

.centerDiv{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}


.mat-card-content{
    max-height: 75px;
    overflow: overlay;
    margin-bottom: 5px;
}

.mat-card{
    margin: 15px;
    height: fit-content;
}

.mat-card-subtitle{
    max-height: 75px;
    overflow: overlay;
}

.mat-card-actions{
    text-align: center;
    margin-left:auto !important;
    margin-right:auto !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
}

.mat-grid-tile{
    margin-top: 10px;
    height: fit-content;
}

.auto-complete-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.marginH10{
    margin-left:10px !important;
    margin-right:10px !important;
  }

.formFieldWidth90pc{
    width: 90%;
 }

 .routeurOutlet{
    max-width: 800px;
    min-height: 1000px
 }


.slider{
    float: right;
    padding: 10px;
}

.width_300{
    width: 300px;
    
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

hr{
    margin-top:5px;
    margin-bottom:5px;
}
  