
<ng-container>
  <div class="container">
    <h1>Plateforme EnjeuxQc</h1> 
    <img id="logoHome" src="assets/logo/newLogo.png"/>
    <div class="left" *ngIf="!auth.isLoggedIn()">
      <h2>Bienvenue sur la plateforme Enjeux Québec.</h2>
      <hr>
      <mat-checkbox  [(ngModel)]="checked">Cochez si vous voulez vous identifier</mat-checkbox>
      <div *ngIf="checked">
        <mat-tab-group>
          <mat-tab label="Login">
            <app-login (logged)="onLogin($event)"></app-login>
          </mat-tab>
          <mat-tab label="Register">
            <app-register (logged)="onLogin($event)"></app-register>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="left" *ngIf="auth.isLoggedIn()">
        <h2>Bienvenue {{auth.getUserDetails()?.name}} sur la plateforme Enjeux Québec.</h2>
        <div *ngIf="options?.length > 0">
          <mat-form-field class="formFieldWidth90pc left width_300">
            <input type="text" placeholder="Choisissez un nom / Pick one name"   matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div *ngIf="!(options?.length > 0)">
          <app-personne-create></app-personne-create>
        </div>
    </div>
    <br>
    <h2>Introduction</h2>
    <p>Cette plateforme a été conçue pour faciliter les échanges sur des enjeux touchant les Québécois.</p>
    <p>Elle est interactive de plusieurs manières : </p>
    <ul>
      <li class="topSpace">
        <span class="aligned-with-icon">Le menu de gauche permet d'accèder aux sections de la page,<br>il peut être fermer avec l'icône</span>
        <mat-icon>menu</mat-icon> 
      </li>
      <li class="topSpace">
        <p> Cliquez sur les icônes dans la barre du haut :</p>
        <ul>
          <li>
            <span class="aligned-with-icon">Pour voir la liste des personnes</span>
            <mat-icon>recent_actors</mat-icon>
          </li>
          <li>
              <span class="aligned-with-icon">Pour voir la liste des enjeux</span>
              <mat-icon>art_track</mat-icon> 
          </li>
        </ul>
      </li>
    </ul>
    
    
    <h2>Schéma sous-jaçent le site web</h2>
    <p>Trois principaux éléments vont vous permettre d'explorer les enjeux,<br>leurs opinions et les personnes qui les ont émises</p>
    <p>Ils sont listés dans le shéma suivant :</p>
    <ul>
      <li>
        <p>Un enjeu à : </p>
        <ul>
          <li>
            <p>Des opinions qui sont reliés à des</p>
          </li>
          <li>
            <p>Des personnes. Chaque Personnes a :</p>
            <ul>
              <li>
                  <p>Une liste d'opinions et</p>
              </li>
              <li>
                  <p>Une liste d'enjeux qu'il a créé ou pour lesquels il a manifesté son point de vue (soit il a ajouté une opinion, soit il a aimé ou pas) </p>
              </li>
            </ul>
          </li>
        </ul>
      
      </li>
    </ul>

    <h3>Pour commencer identifiez-vous (en haut, en cochant la case) et choisissez un espace de travail (ci-bas) ou explorez les enjeux publiques</h3>

    <div>
      <button class="md-fab-bottom-right2" mat-fab [routerLink]="['/enjeux']" routerLinkActive="router-link-active" color="accent">
        <mat-icon>art_track</mat-icon>
      </button>
    </div>
  </div>
</ng-container>